#main {
 width: 1000px;
 margin: auto;
 border-left: 1px solid #666;
 border-right: 1px solid #666;
 background-color: #ffffff;
 padding: 4px 20px;
}
body {
 background-color: #333;
 margin: 0px;
 font-family: Verdana,sans-serif;
}
#container {
 background-color: #EEE;
}
header {
 background-color: #333;
 color: #EEE;
 padding: 2px 10px;
 border-bottom: 5px solid #ad8b0f;
 text-align: center;
}
header h1 {
 margin: 0px;
 font-size: 40px;
}
h1, h2, h3, h4 {
 font-family: "Segoe UI",Arial,sans-serif;
 text-transform: uppercase;
}
a {
 color: #ad8b0f;
 text-decoration: none;
}
header a, footer a {
 color: #EEE;
}
h2>a, h3>a {
 font-weight: 800;
 color: #333;
}
#main h2 {
 font-size: 30px;
}
#h3 {
 font-size: 20px;
 }
.listaNoticias {
 padding:0px 20px;
}
.bloqueNoticia img {
 float: left;
 border: 1px solid #666;
 margin-right: 10px;
 width: 200px;
 height: 200px;
}
.bloqueNoticia {
 clear: both;
 list-style: none;
 margin-bottom: 10px;
 min-height: 200px;
 border-left: 3px dashed #ad8b0f;
 padding-left: 10px;
}
#imgcover {
 text-align: center;
 background-color: #EEE;
}
.small {
 font-size: 10px;
}
footer {
 border-top: 5px solid #ad8b0f;
 text-align: center;
 padding: 5px 5px;
 color: #EEE;
 font-size: 10px;
}
footer span {
 padding-left: 5px;
 border-left: 1px solid #ad8b0f;
}
.bloqueComentario {
 list-style: none;
 margin-bottom: 10px;
 border-left: 3px dashed #ad8b0f;
 padding-left: 10px;
}
#frmComentario textarea {
 width: 100%;
}